.vector-icon1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .rectangle-div {
    height: 100%;
    bottom: 0;
    background-color: #c4c4c4;
  }
  .group-10016-1,
  .group-icon23,
  .mask-group-div,
  .rectangle-div {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
  .group-10016-1 {
    height: 109.5%;
    bottom: -9.5%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .group-icon23,
  .mask-group-div {
    height: 16.93%;
    bottom: 83.07%;
  }
  .group-icon23 {
    height: 12.31%;
    width: 42.4%;
    top: 2.98%;
    right: 8.33%;
    bottom: 84.7%;
    left: 49.27%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon24 {
    height: 3.43%;
    width: 11.39%;
    top: 29%;
    right: 80.44%;
    bottom: 67.57%;
    left: 8.18%;
    opacity: 0.5;
  }
  .group-icon24,
  .group-icon25,
  .group-icon26 {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon25 {
    height: 4.96%;
    width: 16.46%;
    top: 17.24%;
    right: 0.7%;
    bottom: 77.8%;
    left: 82.84%;
    opacity: 0.5;
  }
  .group-icon26 {
    height: 0.81%;
    width: 6.4%;
    top: 17.98%;
    right: 72.14%;
    bottom: 81.22%;
    left: 21.46%;
  }
  .group-icon27 {
    height: 2.22%;
    width: 3.17%;
    top: 27.65%;
    right: 7.78%;
    bottom: 70.13%;
    left: 89.05%;
  }
  .group-icon27,
  .group-icon28,
  .group-icon29 {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon28 {
    height: 5.19%;
    width: 17.22%;
    top: 21.87%;
    right: 72.23%;
    bottom: 72.94%;
    left: 10.55%;
    opacity: 0.5;
    mix-blend-mode: screen;
  }
  .group-icon29 {
    height: 0.76%;
    width: 2.55%;
    top: 23.56%;
    right: 31.93%;
    bottom: 75.69%;
    left: 65.52%;
  }
  .group-10010-1,
  .jose-aljovin-tdz9pb-scg8-unspl-icon {
    position: absolute;
    height: 76.5%;
    width: 46.59%;
    top: 158.91%;
    right: -41.97%;
    bottom: -135.41%;
    left: 95.38%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-10010-1 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
  .group-div36,
  .group-icon30 {
    position: absolute;
    right: 6.15%;
  }
  .group-div36 {
    height: 13.36%;
    width: 49.64%;
    top: 18.78%;
    bottom: 67.86%;
    left: 44.22%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.16);
  }
  .group-icon30 {
    height: 8.46%;
    width: 27.55%;
    top: 19.02%;
    bottom: 72.52%;
    left: 66.3%;
    max-width: 100%;
    max-height: 100%;
  }
  .about-us {
    position: absolute;
    height: 0.91%;
    width: 11.15%;
    top: 20.59%;
    right: 78.85%;
    bottom: 78.5%;
    left: 10%;
    font-size: 50px;
    display: inline-block;
  }
  .group-icon31,
  .how-does-this-work {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .group-icon31 {
    top: -9.09%;
    right: 7.38%;
    bottom: 9.09%;
    left: -7.38%;
    max-width: 100%;
    max-height: 100%;
  }
  .how-does-this-work {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
  }
  .group-div38 {
    position: absolute;
    height: 45.45%;
    width: 73.8%;
    top: 25.45%;
    right: 15.13%;
    bottom: 29.09%;
    left: 11.07%;
    box-shadow: 0 15px 20px rgba(75, 75, 75, 0.3);
  }
  .group-div37 {
    position: absolute;
    height: 0.85%;
    width: 14.11%;
    top: 26.84%;
    right: 75.73%;
    bottom: 72.31%;
    left: 10.16%;
    font-size: 21px;
    color: #fff;
  }
  .create-a-fundraising-project-f {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .or-simply-for {
    font-family: Raleway;
  }
  .in-our-staking-program {
    margin: 0;
  }
  .vital-is-a-fully-decentralized {
    position: absolute;
    height: 4.17%;
    width: 32.92%;
    top: 21.95%;
    right: 57.08%;
    bottom: 73.88%;
    left: 10%;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    display: inline-block;
    font-family: inherit;
  }
  .about-us-div1,
  .contact-div1,
  .home-div1,
  .projects-div1 {
    position: absolute;
    height: 41.18%;
    width: 8.05%;
    top: 27.45%;
    right: 91.95%;
    bottom: 31.37%;
    left: 0;
    font-weight: 500;
    display: inline-block;
  }
  .about-us-div1,
  .contact-div1,
  .projects-div1 {
    width: 12.23%;
    right: 72.45%;
    left: 15.33%;
  }
  .contact-div1,
  .projects-div1 {
    width: 10.68%;
    right: 54.49%;
    left: 34.83%;
  }
  .contact-div1 {
    width: 10.37%;
    right: 36.69%;
    left: 52.94%;
  }
  .group-icon32 {
    position: absolute;
    height: 100%;
    width: 28.95%;
    top: -9.8%;
    right: 3.1%;
    bottom: 9.8%;
    left: 67.96%;
    max-width: 100%;
    max-height: 100%;
  }
  .connect-div2 {
    position: absolute;
    height: 45.1%;
    width: 12.23%;
    top: 25.49%;
    right: 8.2%;
    bottom: 29.41%;
    left: 79.57%;
    font-size: 20px;
    color: #fff;
    display: inline-block;
  }
  .group-div39 {
    position: absolute;
    height: 0.79%;
    width: 33.65%;
    top: 0.77%;
    right: 8.39%;
    bottom: 98.44%;
    left: 57.97%;
    font-size: 18px;
    color: #141414;
  }
  .group-icon33 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -2.1%;
    right: 2.82%;
    bottom: 2.1%;
    left: -2.82%;
    max-width: 100%;
    max-height: 100%;
  }
  .create-share-participate-sec {
    position: absolute;
    height: 26.05%;
    width: 85.35%;
    top: 11.34%;
    right: 7.89%;
    bottom: 62.61%;
    left: 6.76%;
    display: inline-block;
  }
  .group-icon34 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -9.09%;
    right: 10.05%;
    bottom: 9.09%;
    left: -10.05%;
    max-width: 100%;
    max-height: 100%;
  }
  .create-div {
    position: absolute;
    height: 45.45%;
    width: 32.66%;
    top: 25.45%;
    right: 34.67%;
    bottom: 29.09%;
    left: 32.66%;
    display: inline-block;
  }
  .group-div41 {
    position: absolute;
    height: 23.11%;
    width: 28.03%;
    top: 54.62%;
    right: 65.21%;
    bottom: 22.27%;
    left: 6.76%;
    font-size: 21px;
    color: #fff;
  }
  .group-div40 {
    position: absolute;
    height: 3.68%;
    width: 36.98%;
    top: 8.53%;
    right: 53.75%;
    bottom: 87.79%;
    left: 9.27%;
    color: #000;
  }
  .path-62-icon {
    position: absolute;
    height: 15.17%;
    width: 100.35%;
    top: 74.21%;
    right: -0.35%;
    bottom: 10.61%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon35,
  .group-icon36,
  .group-icon37,
  .group-icon38 {
    position: absolute;
    height: 3.18%;
    width: 83.94%;
    top: 81.35%;
    right: 9.12%;
    bottom: 15.48%;
    left: 6.94%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon36,
  .group-icon37,
  .group-icon38 {
    height: 1.05%;
    width: 3.22%;
    top: 81.95%;
    right: 74.91%;
    bottom: 17%;
    left: 21.87%;
  }
  .group-icon37,
  .group-icon38 {
    height: 0.98%;
    width: 3.46%;
    top: 82.06%;
    right: 85.31%;
    bottom: 16.96%;
    left: 11.23%;
  }
  .group-icon38 {
    height: 0.95%;
    width: 2.94%;
    top: 82.09%;
    right: 11.85%;
    left: 85.21%;
  }
  .create-your-kitty-for-all-type,
  .create-your-kitty-for-all-type1 {
    position: absolute;
    height: 1.73%;
    width: 10.78%;
    top: 78.3%;
    right: 69.48%;
    bottom: 19.97%;
    left: 19.74%;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
  }
  .create-your-kitty-for-all-type1 {
    top: 84.88%;
    right: 80.26%;
    bottom: 13.39%;
    left: 8.96%;
  }
  .create-your-kitty-for-all-type2,
  .create-your-kitty-for-all-type3,
  .create-your-kitty-for-all-type4 {
    position: absolute;
    height: 1.73%;
    width: 10.78%;
    top: 78.3%;
    right: 47.76%;
    bottom: 19.97%;
    left: 41.46%;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
  }
  .create-your-kitty-for-all-type3,
  .create-your-kitty-for-all-type4 {
    top: 84.88%;
    right: 58.54%;
    bottom: 13.39%;
    left: 30.68%;
  }
  .create-your-kitty-for-all-type4 {
    top: 78.3%;
    right: 27.24%;
    bottom: 19.97%;
    left: 61.98%;
  }
  .create-your-kitty-for-all-type5,
  .create-your-kitty-for-all-type6,
  .create-your-kitty-for-all-type7 {
    position: absolute;
    height: 1.73%;
    width: 10.78%;
    top: 84.88%;
    right: 38.02%;
    bottom: 13.39%;
    left: 51.2%;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
  }
  .create-your-kitty-for-all-type6,
  .create-your-kitty-for-all-type7 {
    top: 78.3%;
    right: 6.41%;
    bottom: 19.97%;
    left: 82.81%;
  }
  .create-your-kitty-for-all-type7 {
    top: 84.88%;
    right: 17.19%;
    bottom: 13.39%;
    left: 72.03%;
  }
  .community-b,
  .health-b,
  .other-common-expenses,
  .wedding-b {
    position: absolute;
    height: 0.48%;
    width: 5.94%;
    top: 77.67%;
    right: 74.32%;
    bottom: 21.85%;
    left: 19.74%;
    display: inline-block;
  }
  .community-b,
  .health-b,
  .other-common-expenses {
    width: 7.55%;
    right: 50.99%;
    left: 41.46%;
  }
  .health-b,
  .other-common-expenses {
    width: 4.38%;
    right: 33.65%;
    left: 61.98%;
  }
  .other-common-expenses {
    height: 0.96%;
    width: 10.1%;
    top: 77.13%;
    right: 7.29%;
    bottom: 21.92%;
    left: 82.6%;
  }
  .group-10008-1,
  .group-icon39,
  .group-icon40,
  .group-icon41,
  .group-icon42 {
    position: absolute;
    height: 0.46%;
    width: 8.85%;
    top: 80.45%;
    right: 72.55%;
    bottom: 19.08%;
    left: 18.59%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-10008-1,
  .group-icon40,
  .group-icon41,
  .group-icon42 {
    right: 50.68%;
    left: 40.47%;
  }
  .group-10008-1,
  .group-icon41,
  .group-icon42 {
    right: 29.64%;
    left: 61.51%;
  }
  .group-10008-1,
  .group-icon42 {
    right: 9.11%;
    left: 82.03%;
  }
  .group-10008-1 {
    height: 16.96%;
    width: 100%;
    top: 55.59%;
    right: 0;
    bottom: 27.45%;
    left: 0;
    object-fit: cover;
  }
  .see-all-personal-projects,
  .see-all-personal-projects1,
  .see-all-personal-projects2,
  .see-all-personal-projects3 {
    position: absolute;
    height: 0.22%;
    width: 7.14%;
    top: 80.64%;
    right: 72.45%;
    bottom: 19.14%;
    left: 20.42%;
    font-size: 12px;
    color: #fff;
    display: inline-block;
  }
  .see-all-personal-projects1,
  .see-all-personal-projects2,
  .see-all-personal-projects3 {
    right: 50.57%;
    left: 42.29%;
  }
  .see-all-personal-projects2,
  .see-all-personal-projects3 {
    right: 29.53%;
    left: 63.33%;
  }
  .see-all-personal-projects3 {
    right: 9.01%;
    left: 83.85%;
  }
  .group-icon43 {
    position: absolute;
    height: 0.88%;
    width: 2.95%;
    top: 82.04%;
    right: 64.62%;
    bottom: 17.08%;
    left: 32.43%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon44,
  .group-icon45,
  .group-icon46,
  .group-icon47 {
    position: absolute;
    height: 0.83%;
    width: 2.79%;
    top: 82.15%;
    right: 53.91%;
    bottom: 17.02%;
    left: 43.3%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon45,
  .group-icon46,
  .group-icon47 {
    height: 1%;
    width: 3.37%;
    top: 82.02%;
    right: 43.08%;
    bottom: 16.98%;
    left: 53.56%;
  }
  .group-icon46,
  .group-icon47 {
    height: 0.88%;
    width: 2.96%;
    top: 82.12%;
    right: 32.85%;
    bottom: 17%;
    left: 64.18%;
  }
  .group-icon47 {
    height: 0.99%;
    width: 3.11%;
    top: 82.06%;
    right: 22.23%;
    bottom: 16.96%;
    left: 74.66%;
  }
  .charitable-associations,
  .personal-projects-b {
    position: absolute;
    height: 5.38%;
    width: 21.72%;
    top: 2.64%;
    right: 69.43%;
    bottom: 91.98%;
    left: 8.85%;
    display: inline-block;
  }
  .charitable-associations {
    width: 29.06%;
    top: 55.42%;
    right: 15.94%;
    bottom: 39.2%;
    left: 55%;
  }
  .create-your-kitty-for-all-type8,
  .participate-in-the-remarkable {
    position: absolute;
    height: 18.23%;
    width: 33.07%;
    top: 12.31%;
    right: 58.07%;
    bottom: 69.46%;
    left: 8.85%;
    font-size: 30px;
    line-height: 40px;
    color: #102f35;
    display: inline-block;
  }
  .participate-in-the-remarkable {
    width: 40.36%;
    top: 64.08%;
    right: 4.64%;
    bottom: 17.68%;
    left: 55%;
  }
  .group-icon48,
  .group-icon49,
  .group-icon50 {
    position: absolute;
    height: 49.86%;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 50.14%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon49,
  .group-icon50 {
    top: 50.14%;
    right: 49.95%;
    bottom: 0;
    left: 0.05%;
  }
  .group-icon50 {
    height: 100%;
    width: 100%;
    top: -9.09%;
    right: 8.7%;
    bottom: 9.09%;
    left: -8.7%;
  }
  .group-div46 {
    position: absolute;
    height: 45.45%;
    width: 66.09%;
    top: 25.45%;
    right: 16.52%;
    bottom: 29.09%;
    left: 17.39%;
    box-shadow: 0 15px 20px rgba(75, 75, 75, 0.3);
  }
  .group-div45 {
    position: absolute;
    height: 5.01%;
    width: 11.98%;
    top: 86.6%;
    right: 33.02%;
    bottom: 8.39%;
    left: 55%;
    font-size: 21px;
    color: #fff;
  }
  .group-div43,
  .group-icon51 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .group-icon51 {
    top: -9.09%;
    right: 6.25%;
    bottom: 9.09%;
    left: -6.25%;
    max-width: 100%;
    max-height: 100%;
  }
  .view-all-personal-projects {
    position: absolute;
    height: 45.45%;
    width: 77.5%;
    top: 25.45%;
    right: 10.94%;
    bottom: 29.09%;
    left: 11.56%;
    display: inline-block;
  }
  .group-div47 {
    position: absolute;
    height: 5.01%;
    width: 16.67%;
    top: 34.58%;
    right: 74.58%;
    bottom: 60.4%;
    left: 8.75%;
    font-size: 21px;
    color: #fff;
  }
  .group-div42 {
    position: absolute;
    height: 16.96%;
    width: 100%;
    top: 55.57%;
    right: 0.05%;
    bottom: 27.47%;
    left: -0.05%;
    font-size: 50px;
  }
  .nina-mercado-cnrduy0tfrg-unspl-icon {
    position: absolute;
    top: 0.66px;
    left: 0;
    width: 500px;
    height: 220px;
    object-fit: cover;
  }
  .group-div48 {
    position: absolute;
    height: 6.8%;
    width: 26.04%;
    top: 34.55%;
    right: 36.93%;
    bottom: 58.64%;
    left: 37.03%;
    box-shadow: 0 15px 30px rgba(121, 179, 194, 0.3);
  }
  .rectangle-icon8 {
    position: absolute;
    height: 99.92%;
    width: 100%;
    top: 0.08%;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .dino-reichmuth-a5rcn8626ck-uns-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 220px;
    object-fit: cover;
  }
  .group-div49 {
    position: absolute;
    height: 6.81%;
    width: 26.04%;
    top: 34.55%;
    right: 7.92%;
    bottom: 58.64%;
    left: 66.04%;
    box-shadow: 0 15px 30px rgba(121, 179, 194, 0.3);
  }
  .gifts-b,
  .travel-b {
    position: absolute;
    height: 0.48%;
    width: 2.92%;
    top: 38.34%;
    right: 48.54%;
    bottom: 61.18%;
    left: 48.54%;
    display: inline-block;
  }
  .travel-b {
    width: 4.01%;
    right: 19.01%;
    left: 76.98%;
  }
  .group-icon52 {
    position: absolute;
    height: 0.28%;
    width: 6.46%;
    top: 42.63%;
    right: 46.72%;
    bottom: 57.1%;
    left: 46.82%;
    max-width: 100%;
    max-height: 100%;
  }
  .dino-reichmuth-a5rcn8626ck-uns-icon1,
  .nina-mercado-cnrduy0tfrg-unspl-icon1 {
    position: absolute;
    height: 3.4%;
    width: 26.04%;
    top: 34.57%;
    right: 36.93%;
    bottom: 62.03%;
    left: 37.03%;
    max-width: 100%;
    max-height: 100%;
  }
  .dino-reichmuth-a5rcn8626ck-uns-icon1 {
    right: 7.92%;
    left: 66.04%;
  }
  .lorem-ipsum-is-simply-dummy-te6 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-weight: 500;
    display: inline-block;
  }
  .group-div50,
  .group-div51 {
    position: absolute;
    height: 0.59%;
    width: 19.53%;
    top: 38.98%;
    right: 41.06%;
    bottom: 60.43%;
    left: 39.41%;
    text-align: center;
    font-size: 16px;
  }
  .group-div51 {
    right: 11.94%;
    left: 68.52%;
  }
  .group-div53 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 15px 30px rgba(121, 179, 194, 0.3);
  }
  .bruce-tang-ph9ucxgjb-y-unsplas-icon7 {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 508.23%;
    right: -30.2%;
    bottom: -458.23%;
    left: 30.2%;
    max-width: 100%;
    max-height: 100%;
  }
  .birthday {
    position: absolute;
    height: 7.05%;
    width: 21.2%;
    top: 55.6%;
    right: 39.6%;
    bottom: 37.35%;
    left: 39.2%;
    font-size: 26px;
    display: inline-block;
  }
  .group-div54 {
    position: absolute;
    height: 8.64%;
    width: 75%;
    top: 65.05%;
    right: 15.67%;
    bottom: 26.31%;
    left: 9.33%;
    text-align: center;
  }
  .group-icon53,
  .rectangle-icon10 {
    position: absolute;
    height: 9.77%;
    width: 86.2%;
    top: 80.82%;
    right: 10%;
    bottom: 9.4%;
    left: 3.8%;
    max-width: 100%;
    max-height: 100%;
  }
  .rectangle-icon10 {
    height: 7.27%;
    width: 44.4%;
    top: 82.87%;
    right: 49.4%;
    bottom: 9.86%;
    left: 6.2%;
  }
  .goals-50000-div6,
  .raised-div6 {
    position: absolute;
    height: 4.32%;
    top: 84.01%;
    bottom: 11.68%;
    font-weight: 500;
    display: inline-block;
  }
  .raised-div6 {
    width: 22.4%;
    right: 67.42%;
    left: 10.18%;
    color: #fff;
  }
  .goals-50000-div6 {
    width: 22.2%;
    right: 12.78%;
    left: 65.02%;
  }
  .group-div52 {
    position: absolute;
    height: 6.8%;
    width: 26.04%;
    top: 34.55%;
    right: 66.09%;
    bottom: 58.64%;
    left: 7.86%;
    font-size: 16px;
  }
  .group-icon54,
  .rectangle-icon11 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -6.98%;
    right: 1.39%;
    bottom: 6.98%;
    left: -1.39%;
    max-width: 100%;
    max-height: 100%;
  }
  .rectangle-icon11 {
    height: 74.42%;
    width: 51.51%;
    top: 13.95%;
    right: 47.1%;
    bottom: 11.63%;
    left: 1.39%;
  }
  .goals-50000-div7,
  .raised-div7 {
    position: absolute;
    height: 44.19%;
    width: 25.99%;
    top: 25.58%;
    right: 68.01%;
    bottom: 30.23%;
    left: 6%;
    font-weight: 500;
    display: inline-block;
  }
  .goals-50000-div7 {
    width: 25.75%;
    right: 4.62%;
    left: 69.63%;
    color: #2f455c;
  }
  .group-div55,
  .group-div56 {
    position: absolute;
    height: 0.66%;
    width: 22.45%;
    top: 40.09%;
    right: 38.7%;
    bottom: 59.24%;
    left: 38.85%;
    font-size: 16px;
    color: #fff;
  }
  .group-div56 {
    right: 9.71%;
    left: 67.84%;
  }
  .birthday1 {
    position: absolute;
    height: 0.48%;
    width: 5.52%;
    top: 84.14%;
    right: 85.63%;
    bottom: 15.38%;
    left: 8.85%;
    display: inline-block;
  }
  .baby-shower {
    width: 8.33%;
    right: 61.09%;
    left: 30.57%;
  }
  .animals-b,
  .baby-shower,
  .weekend-getaway-b {
    position: absolute;
    height: 0.48%;
    top: 84.14%;
    bottom: 15.38%;
    display: inline-block;
  }
  .animals-b {
    width: 5.26%;
    right: 43.12%;
    left: 51.61%;
    color: #16434b;
  }
  .weekend-getaway-b {
    width: 12.08%;
    right: 15.94%;
    left: 71.98%;
  }
  .group-icon56,
  .group-icon57,
  .group-icon58,
  .group-icon59 {
    position: absolute;
    height: 0.46%;
    width: 8.85%;
    top: 86.96%;
    right: 83.49%;
    bottom: 12.57%;
    left: 7.66%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon57,
  .group-icon58,
  .group-icon59 {
    right: 61.61%;
    left: 29.53%;
  }
  .group-icon58,
  .group-icon59 {
    right: 40.57%;
    left: 50.57%;
  }
  .group-icon59 {
    right: 20.05%;
    left: 71.09%;
  }
  .see-all-personal-projects4,
  .see-all-personal-projects5,
  .see-all-personal-projects6,
  .see-all-personal-projects7 {
    position: absolute;
    height: 0.22%;
    width: 7.14%;
    top: 87.15%;
    right: 83.39%;
    bottom: 12.64%;
    left: 9.48%;
    font-size: 12px;
    color: #fff;
    display: inline-block;
  }
  .see-all-personal-projects5,
  .see-all-personal-projects6,
  .see-all-personal-projects7 {
    right: 61.51%;
    left: 31.35%;
  }
  .see-all-personal-projects6,
  .see-all-personal-projects7 {
    right: 40.47%;
    left: 52.4%;
  }
  .see-all-personal-projects7 {
    right: 19.95%;
    left: 72.92%;
  }
  .mask-group-161,
  .rectangle-icon13 {
    position: absolute;
    height: 8.97%;
    width: 100.31%;
    top: 89.39%;
    right: -0.31%;
    bottom: 1.65%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .mask-group-161 {
    height: 13.87%;
    width: 148.23%;
    top: 85.99%;
    right: -48.23%;
    bottom: 0.13%;
  }
  .earn-b1 {
    position: absolute;
    height: 1.02%;
    width: 6.35%;
    top: 93.65%;
    right: 84.11%;
    bottom: 5.33%;
    left: 9.53%;
    font-size: 56px;
    display: inline-block;
  }
  .stake-you-vital-to-earn-more-v1,
  .stake-your-nfts-to-earn-vital1 {
    position: absolute;
    height: 0.37%;
    width: 14.79%;
    top: 94.9%;
    right: 75.68%;
    bottom: 4.73%;
    left: 9.53%;
    font-size: 18px;
    font-family: Segoe UI;
    display: inline-block;
  }
  .stake-your-nfts-to-earn-vital1 {
    width: 12.34%;
    top: 95.46%;
    right: 78.13%;
    bottom: 4.17%;
  }
  .group-icon60 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -9.43%;
    right: 10%;
    bottom: 9.43%;
    left: -10%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-div57 {
    position: absolute;
    height: 35.85%;
    width: 26%;
    top: 33.96%;
    right: 40.5%;
    bottom: 30.19%;
    left: 33.5%;
    box-shadow: 0 15px 20px rgba(75, 75, 75, 0.3);
  }
  .prebook-button-div1 {
    position: absolute;
    height: 0.82%;
    width: 10.42%;
    top: 96.25%;
    right: 80.05%;
    bottom: 2.93%;
    left: 9.53%;
    font-size: 14px;
    color: #fff;
    font-family: Segoe UI;
  }
  .social-connect-div1 {
    position: absolute;
    height: 0.32%;
    width: 6.51%;
    top: 98.9%;
    right: 22.93%;
    bottom: 0.78%;
    left: 70.56%;
    font-size: 18px;
    color: #adadad;
    display: inline-block;
  }
  .facebook-social-symbol-icon1,
  .instagram-logo-icon1,
  .twitter-logo-silhouette-icon1 {
    position: absolute;
    height: 0.31%;
    width: 0.51%;
    top: 98.92%;
    right: 20.34%;
    bottom: 0.77%;
    left: 79.15%;
    max-width: 100%;
    max-height: 100%;
  }
  .instagram-logo-icon1,
  .twitter-logo-silhouette-icon1 {
    width: 1.28%;
    right: 14.36%;
    left: 84.36%;
  }
  .instagram-logo-icon1 {
    width: 1.04%;
    top: 98.91%;
    right: 9.39%;
    bottom: 0.78%;
    left: 89.57%;
  }
  .group-div59,
  .group-icon61 {
    position: absolute;
    height: 68.44%;
    width: 50.64%;
    top: 17.37%;
    right: 0;
    bottom: 14.19%;
    left: 49.36%;
  }
  .group-icon61 {
    height: 100%;
    width: 39.99%;
    top: 0;
    right: 60.11%;
    bottom: 0;
    left: -0.11%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-div58,
  .group-div60 {
    position: absolute;
    height: 1.51%;
    width: 12.65%;
    top: 0.63%;
    right: 78.04%;
    bottom: 97.85%;
    left: 9.31%;
    font-size: 50px;
    font-family: Segoe UI;
  }
  .group-div60 {
    top: 90.81%;
    right: 77.87%;
    bottom: 7.68%;
    left: 9.48%;
  }
  .group-icon63,
  .group-icon64,
  .group-icon65,
  .group-icon66 {
    position: absolute;
    height: 3.35%;
    width: 25.3%;
    top: 50%;
    right: 67%;
    bottom: 46.65%;
    left: 7.7%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon64,
  .group-icon65,
  .group-icon66 {
    height: 3.04%;
    width: 20.21%;
    top: 50.31%;
    right: 7.1%;
    left: 72.69%;
  }
  .group-icon65,
  .group-icon66 {
    height: 3.35%;
    width: 24.93%;
    top: 50%;
    right: 23.96%;
    left: 51.11%;
  }
  .group-icon66 {
    width: 24.86%;
    right: 45.58%;
    left: 29.56%;
  }
  .rectangle-icon14,
  .rectangle-icon15,
  .rectangle-icon16,
  .rectangle-icon17 {
    position: absolute;
    height: 6.21%;
    width: 20.91%;
    top: 48.32%;
    right: 74.59%;
    bottom: 45.47%;
    left: 4.5%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .rectangle-icon15,
  .rectangle-icon16,
  .rectangle-icon17 {
    right: 53.14%;
    left: 25.95%;
  }
  .rectangle-icon16,
  .rectangle-icon17 {
    right: 9.87%;
    left: 69.22%;
  }
  .rectangle-icon17 {
    right: 31.63%;
    left: 47.46%;
  }
  .ellipse-icon10,
  .group-icon67,
  .group-icon68,
  .path-1635-icon,
  .path-1636-icon,
  .path-1637-icon {
    position: absolute;
    height: 5.29%;
    width: 17.82%;
    top: 47.69%;
    right: 73.21%;
    bottom: 47.02%;
    left: 8.97%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon67,
  .group-icon68,
  .path-1635-icon,
  .path-1636-icon,
  .path-1637-icon {
    width: 17.42%;
    right: 51.71%;
    left: 30.87%;
  }
  .group-icon67,
  .group-icon68,
  .path-1636-icon,
  .path-1637-icon {
    right: 30.18%;
    left: 52.4%;
  }
  .group-icon67,
  .group-icon68,
  .path-1637-icon {
    right: 8.47%;
    left: 74.11%;
  }
  .group-icon67,
  .group-icon68 {
    height: 3.02%;
    width: 24.77%;
    top: 47.29%;
    right: 7.11%;
    bottom: 49.69%;
    left: 68.13%;
  }
  .group-icon68 {
    height: 2.3%;
    width: 10.01%;
    right: 29.19%;
    bottom: 50.41%;
    left: 60.8%;
  }
  .group-icon69,
  .group-icon70,
  .group-icon71,
  .group-icon72,
  .group-icon73 {
    position: absolute;
    height: 2.89%;
    width: 14.38%;
    top: 47.29%;
    right: 39.2%;
    bottom: 49.82%;
    left: 46.42%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon70,
  .group-icon71,
  .group-icon72,
  .group-icon73 {
    height: 2.3%;
    width: 10.01%;
    right: 50.65%;
    bottom: 50.41%;
    left: 39.35%;
  }
  .group-icon71,
  .group-icon72,
  .group-icon73 {
    height: 2.89%;
    width: 14.38%;
    right: 60.65%;
    bottom: 49.82%;
    left: 24.97%;
  }
  .group-icon72,
  .group-icon73 {
    height: 3.02%;
    width: 20.09%;
    top: 47.31%;
    right: 72.21%;
    bottom: 49.67%;
    left: 7.7%;
  }
  .group-icon73 {
    height: 0.97%;
    width: 3.28%;
    top: 48.32%;
    right: 80.18%;
    bottom: 50.71%;
    left: 16.54%;
  }
  .how-does-this-work1 {
    position: absolute;
    height: 0.91%;
    width: 25.47%;
    top: 44.75%;
    right: 37.25%;
    bottom: 54.34%;
    left: 37.28%;
    font-size: 50px;
    display: inline-block;
  }
  .create-div1,
  .create-personalize-your-mone {
    position: absolute;
    height: 0.54%;
    width: 4.79%;
    top: 49.44%;
    right: 79.66%;
    bottom: 50.02%;
    left: 15.54%;
    font-size: 30px;
    display: inline-block;
  }
  .create-personalize-your-mone {
    height: 0.59%;
    width: 13.13%;
    top: 50.18%;
    right: 75.16%;
    bottom: 49.23%;
    left: 11.72%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .group-icon74 {
    position: absolute;
    height: 0.94%;
    width: 3.16%;
    top: 48.35%;
    right: 58.84%;
    bottom: 50.71%;
    left: 38%;
    max-width: 100%;
    max-height: 100%;
  }
  .easily-share-your-money-pot-wi {
    position: absolute;
    height: 0.88%;
    width: 11.61%;
    top: 50.18%;
    right: 53.9%;
    bottom: 48.94%;
    left: 34.49%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
  }
  .collect-manage-funds-securel,
  .share-div {
    position: absolute;
    height: 0.54%;
    width: 4.17%;
    top: 49.44%;
    right: 58.16%;
    bottom: 50.02%;
    left: 37.67%;
    font-size: 30px;
    display: inline-block;
  }
  .collect-manage-funds-securel {
    height: 0.88%;
    width: 12.6%;
    top: 50.18%;
    right: 32.09%;
    bottom: 48.94%;
    left: 55.3%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .collect-div,
  .spend-your-money-pot-with-one {
    position: absolute;
    height: 0.54%;
    width: 5.16%;
    top: 49.44%;
    right: 36.46%;
    bottom: 50.02%;
    left: 58.39%;
    font-size: 30px;
    display: inline-block;
  }
  .spend-your-money-pot-with-one {
    height: 1.76%;
    width: 11.35%;
    top: 50.16%;
    right: 10.63%;
    bottom: 48.08%;
    left: 78.02%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .give-div {
    position: absolute;
    height: 0.54%;
    width: 3.23%;
    top: 49.44%;
    right: 15.57%;
    bottom: 50.02%;
    left: 81.2%;
    font-size: 30px;
    display: inline-block;
  }
  .group-icon75,
  .group-icon76 {
    position: absolute;
    height: 0.87%;
    width: 2.94%;
    top: 48.43%;
    right: 15.71%;
    bottom: 50.7%;
    left: 81.35%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon76 {
    height: 1.01%;
    width: 3.4%;
    top: 48.29%;
    right: 37.54%;
    left: 59.06%;
  }
  .all-rights-reserved1 {
    position: absolute;
    height: 0.32%;
    width: 11.51%;
    top: 98.9%;
    right: 78.65%;
    bottom: 0.77%;
    left: 9.84%;
    font-size: 18px;
    color: #adadad;
    display: inline-block;
  }
  .group-icon77 {
    position: absolute;
    height: 3.22%;
    width: 22.58%;
    top: 4.86%;
    right: 68.48%;
    bottom: 91.93%;
    left: 8.94%;
    max-width: 100%;
    max-height: 100%;
  }
  .birthday-party-and-wedding,
  .popular-projects-icon {
    position: absolute;
    height: 0.94%;
    width: 44.98%;
    top: 75.53%;
    right: 27.54%;
    bottom: 23.54%;
    left: 27.47%;
    max-width: 100%;
    max-height: 100%;
  }
  .popular-projects-icon {
    height: 0.92%;
    width: 26.4%;
    top: 32.71%;
    right: 36.76%;
    bottom: 66.38%;
    left: 36.84%;
  }
  .div25 {
    position: relative;
    width: 100%;
    height: 6469px;
    overflow: hidden;
    text-align: left;
    font-size: 26px;
    color: #2f455c;
    font-family: Raleway;
  }
  